.principal {
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .cabecalho {
    color: brown;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  
  label {
    width: 100%;
    color: brown;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  
  .form-control {
    width: 1725px;
    height: 40px;
    margin: 15px 15px 15px 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .form-control-small {
    width: 200px;
    height: 40px;
    margin: 15px 15px 15px 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
  }

  table {
    width: 95%;
  }
  
  th {
    text-decoration-color: brown;
    font-family: 'Courier New', Courier, monospace;
  }

  button {
    margin: 5px;
  }